*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  display: block;
  background-color: #f1f1f1;
}

img {
  max-width: 100%;
  display: block;
}

ul,
li {
  list-style: none;
}

#modal {
  display: none;
  position: fixed;
  top: 4rem;
  left: 0;
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  background-color: #000;
}
.modal-content {
  background-color: #fff;
  max-width: 600px;
  margin-inline: 4rem;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

#modalDescription {
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  text-align: center;
}

#modal2 {
  display: none;
  position: fixed;
  top: 3.5rem;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-content2 {
  background-color: #fff;
  max-width: 320px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-container2__header {
  display: flex;
  flex-direction: row;
}

.button2 {
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button2:hover {
  background-color: #0b7dda;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.left-side {
  flex: 1;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.input {
  width: 100%;
  max-width: 14.875rem;
  border: 1px solid #616161;
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 1rem 0.5rem;
  background-color: #303030;
  border-radius: 8px;
}

input[type="search"] {
  border: none;
  background-color: #303030;
  max-width: 100%;
}

input[type="search"]:focus {
  outline: none;
}

.dashed {
  filter: invert(40%);
}

.left__side,
.right__side {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.left__side a > img:last-child {
  display: none;
}
.right__side img {
  padding: 0.375rem;
  width: 2.5rem;
}
.ranges {
  display: flex;
  align-items: center;
  gap:1rem;
}
input[type="range"] {
  width: 72px;
  height: 4px;
  background-color: #e3e3e3;
  -webkit-appearance: #000;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
input[type="range"]::-webkit-slider-thumb, input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  display:none;
  appearance: none;
  cursor: pointer;
}
.top{
  display:flex;
}
button {
  background-color: transparent;
  border: none;
}

.admin {
  display: flex;
  min-height: 28px;
  padding: 9px 5px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: #36fba1;
  color: rgba(0, 0, 0, 0.4);
}

.more__info {
  background-color: #000000;
  padding: 0.75rem 0.5rem;
  max-width: 100%;
  margin-top: 2rem;
  color: #e3e3e3;
}

.more__info__top {
  display: flex;
  align-items: center;
}



.CTA {
  border-radius: 6px;
  border: 1px solid;
  background: #fff;
  color: #303030;
  padding: 6px 12px;
  margin-top: 1rem;
  font-weight: 700;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
}

.special {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 0.5rem;
  background: #fff;
  margin-top: 1rem;
  min-width: 300px;
}

.parent > div {
  width: inherit;
  display: grid;
  justify-content: center;
}

.special__container {
  display: flex;
}

.top {
  display: block;
}

.top h4 {
  font-size: 0.875rem;
}

.top p {
  padding-top: 0.25rem;
}

.options {
  padding-top: 1rem;
  display: none;
}

.options > li {
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
}

.options > li img {
  fill-rule: #8a8a8a;
}

.hidden__button {
  display: flex;
  padding: 6px 12px;
  align-items: center;
  color: #f6f3f6;
  gap: 8px;
  margin-top: 1rem;
  background-color: #404040;
  border-radius: 6px;
  border: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2)),
    1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2)),
    1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333,
    0px 2px 0px 0px #000;
}

.wrapper {
  padding: 8px 8px 12px 8px;
  gap: 3px;
}

.wrapper p {
  margin-top: 1rem;
}

.wrapper h4 {
  font-size: 1rem;
}

.hidden__text {
  display: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-animation {
  animation: rotate 1s linear;
}

.parent > div {
  width: 100%;
  display: grid;
  justify-content: center;
}

.toggle__hidden {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.illustration {
  display: none;
}

.tops {
  margin-left: 3.8rem;
}

.hidden__text p {
  width: 80%;
}

@media screen and (min-width: 1000px) {
  .left__side a > img:last-child {
    display: block;
  }
  .left__side a > img:first-child {
    display: none;
  }
  .tops {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 700px;
    align-items: center;
    margin-left: 2.7rem;
  }
  nav {
    display: flex;
    padding: 12px 16px;
    align-items: center;
  }
  .illustration {
    display: block;
  }

  .left__side {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    justify-content: center;
  }
  .right-side {
    margin-left: auto;
  }
  .input {
    width: 100%;
    max-width: 440px;
  }
  input[type="search"] {
    width: 80%;
  }
  .more__info {
    display: flex;
    width: 800px;
    padding: 12px 8px 12px 16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
  }
  .CTA {
    margin-top: 0;
  }
  .special {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
  }
  .special__container {
    display: flex;
    padding: 8px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
  }
  .wrapper {
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
  }
  .hidden__text {
    display: none;
  }
}
